version: 2
jobs:
  build-and-test:

    # Specify the Xcode version to use
    macos:
      xcode: "9.3.0"

    steps:
      - checkout

      # Build the app and run tests
      - run:
          name: Build and run tests
          command: fastlane scan --scheme Blues
      - store_test_results:
          path: test_output
      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs
      - store_artifacts:
          path: test_output

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test
