version: 2
jobs:
  build-and-test:

    # Specify the Xcode version to use
    macos:
      xcode: "9.0"

    steps:
      - checkout

      # Build the app and run tests
      - run:
          name: Build and run tests
          command: xcodebuild test -scheme Blues | xcpretty

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test
